<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="filter" href="/tabs/filter">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="favorite" href="/tabs/favorite">
      <ion-icon aria-hidden="true" name="bookmark"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
