<ion-content>
	<div class="container">
		<ion-row class="logo-row">
			<ion-col>
				<ion-icon name="fast-food-outline"></ion-icon>
			</ion-col>
		</ion-row>
		<div class="text-container">
			<ion-label class="text1">Food Picker</ion-label>
			<ion-label class="text2">Feeling hungry?</ion-label>
			<ion-label class="text2">Let's roll the dice on dinner!</ion-label>
		</div>

		<form [formGroup]="credentials" (submit)="login()">

			<div class="input-container">
				<ion-item class="rowStyle inputField" lines="none">
					<ion-input type="text" label="Email" labelPlacement="floating" required formControlName="email">
					</ion-input>
					<ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">
						Email is invalid
					</ion-note>
				</ion-item>
				<ion-item class="rowStyle inputField" lines="none">
					<ion-input type="password" label="Password" labelPlacement="floating" required
						formControlName="password">
					</ion-input>
					<ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">
						Password is invalid
					</ion-note>
				</ion-item>
				<ion-button expand="block" shape="round" class="rowStyle login-button" color="secondary"
					[disabled]="!credentials.valid" type>
					Login
				</ion-button>
				<ion-button fill="outline" shape="round" class="rowStyle sign-up-button" color="medium"
					(click)="gotoSignup()">
					Don't have an account?
					Sign Up
				</ion-button>
			</div>
		</form>
	</div>
</ion-content>